<div class="">
    <h1 class="uk-h1 tm-heading-fragment">Let's Generate a Color Grid!</h1>

    <form action="/" method="post">
        <div class="field">
            <label class="label">Grid Size</label>
            <select name="grid" class="uk-select">
                {{#select grid}}
                    <option value="3">3 x 3</option>
                    <option value="4">4 x 4</option>
                    <option value="5">5 x 5</option>
                    <option value="10">10 x 10</option>
                    <option value="20">20 x 20</option>
                {{/select}}
            </select>
        </div>
        <div class="uk-container uk-text-center uk-margin">
            <button class="uk-button uk-button-default" type="submit">Submit</button>
        </div>

    </form>

    {{#ifEq grid 20 }}
        <span class="uk-badge uk-margin-bottom">You might need to scroll!</span>
    {{/ifEq}}


    <div class="uk-animation-fade uk-container uk-overflow-auto ">
        {{{buildGrid grid grid}}}
    </div>

</div>


