<div class="section">
    <h1 class="title">View</h1>
    <div class="is-ancestor">
        <div class="tile is-parent is-flex-wrap-wrap">
            {{#each employees}}
                    {{>employee this}}
            {{/each}}
        </div>
    </div>
</div>


