<div class="uk-navbar-container" uk-navbar>
    <div class="uk-navbar-left">
        <a href="/" class="uk-navbar-item uk-logo">
            <span class="uk-padding-small" uk-icon="icon: home; ratio: 2"></span>
            <span>
                <div>
                    Assignment 6
                </div>
                <div class="uk-text-meta uk-text-center">
                    Jonathan Doolittle
                </div>
            </span>
        </a>

        <ul class="uk-navbar-nav">
            <li>
                <a class="uk-navbar-item" href="/">Add a Contact</a>
            </li>
            <li>
                <a class="uk-navbar-item" href="/error">View Contacts</a>
            </li>
        </ul>

    </div>
</div>
