include _head
div.section
    p.container.has-text-centered.title Results:
    div.box
        strong.is-size-5 Name
        p=name
        strong.is-size-5 Email
        p=email
        strong.is-size-5 Comments
        p=comment
