<section class="hero is-danger is-fullheight">
    <div class="hero-body">
        <div>
            <p class="title is-size-1">
                Uh oh.....
            </p>
            <p class="subtitle is-size-3">
                Something went wrong... Please try again!
            </p>
            {{#if message}}
                <code>{{message}}</code>
            {{/if}}
        </div>
    </div>
</section>
